img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
span {
    width: 100%;
}
.contenedorVerAhora {
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    max-width: 135px;
    text-align: center;
    border-radius: 7px;
    font-size: 17px;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;

    span {
        cursor: pointer;
    }
}
.botonTrailer {
    cursor: pointer;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    max-width: 100px;
    background-color: #00000099;
    color: white;
    border: solid 1px white;
}
